.player-card {
  display: flex;
  flex-direction: row;
  font-family: 'Montserrat, sans-serif'!important;
  color: #F2753B;
  img {
    clip-path: inset(0 0 0 0);
    width: 100%;
    height: 160px;
    object-fit:contain;
  }
  @media (max-width: 768px) {
    img{
        clip-path: inset(0 0 0 0);
        width: 100%;
        height: auto !important;
        object-fit: cover;
    }
  }
 
  &-infos {
    display: flex;
    flex-direction: row;
  }
}
.ant-card {
    font-family: 'Montserrat, sans-serif'!important;
    
@media (max-width: 767px) {
    width: 100% !important;
}
  &-bordered &-cover {
    width: 40%;
  }

  &-body {
    display: flex !important;
    flex-direction: column;
  }
}
